button.default-btn {
    padding: 2vh;
    color: rgb(1, 167, 196);
    background: rgb(255, 255, 255);
    width: 100%;

    border: none;
    border-radius: 2vh;

    font-size: 2.5vh;
    cursor: pointer;
    transition: 0.2s all;
}

button.default-btn:hover {
    transform: scale(1.05);
}

