div.option {
    display: flex;

    justify-content: space-around;
    align-items: center;

    margin: 1.2vh;

    padding: 3vh;
    width: 90%;
    border-radius: 3vh;
    box-shadow: 11px 13px 13px rgb(25, 35, 39);
    
    background-color: rgb(221, 220, 220);

    transition: 0.5s all;
}

div.option:hover {
    transform: scale(1.10);
}

div.option label {
    color: rgb(65, 80, 97);
    text-shadow: 1px 1px #2d373d;
    font-family: DynaPuff, sans-serif;
    font-size: 23px
}

div.option input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
  }