.main-wrapper {
    display: flex;

    width: 100%;
    height: 100vh;

    transition: 0.5s all;
}

svg.background {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 96%;
    height: 70vh;
    z-index: -999;
    animation: fadeIn 1s;
}

svg.background path {
    fill: #555;
    cursor: pointer;
}

svg.background path:hover {
    fill: rgb(1, 130, 173);
}